/dist
/node_modules
/result

# This is a `bun` project, but we still use `package-lock.json` as the source
# of truth for our dependencies.
# See the `bun.lockb` target in `Makefile` for more details.
/bun.lockb
